<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Google Maps</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <style>
        #mapcanvas{
            width: 800px;
            height: 500px;
        }
    </style>
</head>
<body>
    {{ showonlymap }}
     <div id="request">
        <form action="/drt/setpath/" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>Origin</td>
                    <td>Destination</td>
                </tr>
                <tr>
                    <td><input type="text" name="origin" /></td>
                    <td><input type="text" name="destination" /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="destin" value="Get Route"/></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="mapcanvas">

    </div>

    <script>
        $(document).ready(initialise);

        var map;
        var maponly = {{ showonlymap }};
        var bus = {};

        function initialise()
        {
            console.log("initialise");
            //navigator.geolocation.getCurrentPosition(initialise, onError, {timeout:10000});
            var mapoptions = {
                center: new google.maps.LatLng(18.5204303, 73.85674369999992),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("mapcanvas"), mapoptions);

            if(!maponly)
            {
                bus = {{ bus | safe}};
                console.log(bus);
                renderRoute();
            }
        }

        function renderRoute()
        {
            console.log("place marker");
            route = []
            originLoc = new google.maps.LatLng(bus['route'][0][0], bus['route'][0][1]);
            destinLoc = new google.maps.LatLng(bus['route'][1][0], bus['route'][1][1]);
            legs = bus['route'];


            console.log(legs.length);
            for(i = 2; i < legs.length; i++)
            {
                route.push({location: new google.maps.LatLng(legs[i][0], legs[i][1]),
                            stopover: true
                            });

                console.log(new google.maps.LatLng(legs[i][0], legs[i][1]))
            }
            console.log(route);
            dirserv = new google.maps.DirectionsService();
            dirDisplay = new google.maps.DirectionsRenderer();
            dirDisplay.setMap(map);

            //console.log(response['directions'][0]['legs'][0]['steps'][0]);

            //originLoc = new google.maps.LatLng( response['locations']['origin'][0]['geometry']['location']['lat'],
            //                                    response['locations']['origin'][0]['geometry']['location']['lng']);
            //destinLoc = new google.maps.LatLng( response['locations']['destination'][0]['geometry']['location']['lat'],
            //                                    response['locations']['destination'][0]['geometry']['location']['lng']);

            var request = {
                origin: originLoc,
                destination: destinLoc,
                durationInTraffic: true,
                waypoints: route,
                optimizeWaypoints: true,
                travelMode: google.maps.TravelMode.DRIVING
            };

            dirserv.route(request, function(response, status)
            {
                if(status == google.maps.DirectionsStatus.OK)
                {
                    dirDisplay.setDirections(response);
                }
            });
        }

        function placeMarker(place)
        {
            console.log("placing marker");
            var marker = new google.maps.Marker({
                position: place,
                map: map
            });
            console.log("Marker");
        }
    </script>
</body>
</html>

