<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Google Maps</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <style>
        #mapcanvas{
            width: 800px;
            height: 500px;
        }
    </style>
</head>
<body>
    {{ showonlymap }}
     <div id="request">
        <form action="/drt/setpath/" method="POST">{% csrf_token %}
            <table>
                <tr>
                    <td>Origin</td>
                    <td>Destination</td>
                </tr>
                <tr>
                    <td><input type="text" name="origin" /></td>
                    <td><input type="text" name="destination" /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="destin" value="Get Route"/></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="mapcanvas">

    </div>

    <script>
        $(document).ready(initialise);

        var map;
        var maponly = {{ showonlymap }};
        var bus = {};

        function initialise()
        {
            console.log("initialise");
            //navigator.geolocation.getCurrentPosition(initialise, onError, {timeout:10000});
            var mapoptions = {
                center: new google.maps.LatLng(18.5204303, 73.85674369999992),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("mapcanvas"), mapoptions);

            if(!maponly)
            {
                res = {{ res | safe}};
                console.log(res);
                renderRoute();
            }
        }

        function renderRoute()
        {
            console.log("place marker");
            console.log(res.Origin);
            route = []
            originLoc = new google.maps.LatLng(res.Origin['lat'], res.Origin['lng']);
            destinLoc = new google.maps.LatLng(res.Destination['lat'], res.Destination['lng']);

            legs = res.Waypoints.way;

            console.log(legs.length);
            for(i = 0; i < legs.length; i++) {
                route.push({
                    location: new google.maps.LatLng(legs[i]['location']['lat'], legs[i]['location']['lng']),
                    stopover: true
                });

                console.log(new google.maps.LatLng(legs[i][0], legs[i][1]))
            }

            dirserv = new google.maps.DirectionsService();
            dirDisplay = new google.maps.DirectionsRenderer();
            dirDisplay.setMap(map);

            var request = {
                origin: originLoc,
                destination: destinLoc,
                durationInTraffic: true,
                waypoints: route,
                optimizeWaypoints: true,
                travelMode: google.maps.TravelMode.DRIVING
            };


            dirserv.route(request, function(response, status)
            {
                console.log("response");
                console.log(response);
                if(status == google.maps.DirectionsStatus.OK)
                {
                    dirDisplay.setDirections(response);
                }
            });
            console.log("request formed");
        }

        function placeMarker(place)
        {
            console.log("placing marker");
            var marker = new google.maps.Marker({
                position: place,
                map: map
            });
            console.log("Marker");
        }
    </script>
</body>
</html>


